name: github-actions demo
on:
  push:
    branches:
    - main
jobs:
  build-job:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: show system info
      run: uname -a